@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*aplicando globalmente no Document, margem, espaçamento e border-box sizing*/
* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/*definindo as nossas cores*/
:root{
    /*Cor padrão*/
    --color-default:#ff523b;
    --color-default-hover:#f3b2e5;
    --color-font:#fff;
    --color-paragraph-p:#555;
    --color-button-btn:#563434;
    --color-btn-hover:#15ff00;
    --color-btn-font:#000;
    --color-font-body:#555;
    --color-font-body-light:#777;
    
}

/*adicionando uma font padrão ao Body*/
body {
    font-family:'Poppins',sans-serif;
}

/* Formatando a class="banner" */
.banner{
    background:radial-gradient(var(--color-default-hover), var(--color-default));
}
/*Formatando o banner . row */
.banner .row{
    margin-top:70px;
}
.container{
    max-width:1300px;
    margin: auto;
    padding-left:25px;
    padding-right:25px;
}

/*formatando meu navbar */
.navbar {
    display:flex;
    align-items:center;
    padding:20px;

}

/*formatando a tag: nav */
nav {
    flex: 1;
    text-align:right;
}

/*formatando a tag nav ul*/
nav ul {
    display: inline-block;
    list-style-type:none;
}

/*formatando a tag nav ul li*/
nav ul li {
    display:inline-block;
    margin-right: 20px;
}
/*formatando a tag nav ul li a */
nav ul li a {
    text-decoration: none;
    color:var(--color-font);
    
}

/*formatando a classe paragrafo do banner*/
.banner p{
    color:var(--color-font);
}

p{
    color: var(--color-paragraph-p);
}

/*trabalhando na class tag row*/
.row {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}
/*Formatando as classes de coluna*/

.col-2 {
    flex-basis:50%;
    min-width:300px;
  
}
/*formatando o img da col-2*/
.col-2 img{
    max-width: 100%;
    padding: 50px 0px;
}

/*formatando o h1 que esta dentro do col-2*/
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}

.col-2 p{
    font-weight: 600;
    color:var(--color-button-btn);
}

.btn {
    text-decoration: none;
    color:var(--color-font);
    background:var(--color-button-btn);
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.7s;
}

.btn:hover{
    background:var(--color-btn-hover);
    color:var(--color-btn-font);

}
/*formatando categorias class="categorias"*/
.categorias{
    margin:70px 0px;

}
/*formatando Corpo-categorias  class=corpo-categorias */
.corpo-categorias{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
/*Formatando a coluna 3 das img centralizando e organizando class="col-3"*/
.col-3 {
    flex-basis: 30%;
    max-width: 250px;
    margin-bottom: 30px;
}

/*Formatando e organizando as <img> das tags <div> */
.col-3 img{
    width: 100%;
    object-fit: cover;
    object-position: center;

}
/*estilizando a imagem dos produtos*/
.col-4{
    flex-basis: 25%;
    max-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
}


